*
!README.md
!LICENSE
!.gitignore
!.zlogin
!.zshrc
!wallpaper.jpg
!.config/
!.config/kitty/
!.config/kitty/*
!.config/sway/
!.config/sway/*
!.config/waybar/
!.config/waybar/*
!.config/wofi/
!.config/wofi/*